@font-face {
    font-family: 'Horizon';
    src: url('../assets/fonts/horizon/horizon.otf') format('truetype');
}

@font-face {
    font-family: 'Horizon-outline';
    src: url('../assets/fonts/horizon/horizon_outlined.otf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Alternates';
    src: url('../assets/fonts/Montserrat_Alternates/MontserratAlternates-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    background-color: #007C96;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 3%;
}
nav{
    width: 40%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Horizon';
    color: #F1F2EB;
}
.botoes-header{
    width: 50%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 3%;
    margin-right: 10%;
}
.social-button img {
    width: 50px;
    height: 50px;
}

.social-button:hover img {
    transform: scale(1.3);
    transition: all 0.05s;
}

.botao_contato {
    font-family: 'Horizon';
    border: 4px solid #F1F2EB;
    border-radius: 50px;
    background-color: #F1F2EB;
    color: #007C96;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    min-height: 8px;
    width: 120px;
    padding: 1%;
    margin-bottom: 3px;
}

.botao_contato:hover {
    color: #F1F2EB;
    background-color: #007C96;
    transform: scale(1.1);
    transition: all 0.05s;
}

.principal {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.textos_principal {
    width: 40%;
}

.textos_principal h2 {
    font-family: 'Horizon-outline';
}

.textos_principal h1 {
    font-family: 'Horizon';
    font-weight: bolder;
    font-size: 7vh;
    color: #F1F2EB;
}

.textos_principal h3 {
    font-family: 'Montserrat-Alternates';
    font-weight: 700;
}

.textos_principal a {
    font-family: 'Horizon';
    border: 5px solid #F1F2EB;
    border-radius: 50px;
    color: #F1F2EB;
    text-decoration: none;
    padding: 3%;
}

.textos_principal a:hover{
    color: #007C96;
    background-color: #F1F2EB;
}

.imagens_principal {
    width: 50%;
    display: flex;
}

.fundo_principal {
    z-index: 1;
    width: 50%;
    height: auto;
}

.foto_principal {
    z-index: 2;
    width: 50%;
    height: auto;
}
.sobre{
    width: 100%;
    height: 90vh;
    font-family: 'Montserrat-Alternates';
    font-weight: bold;
    color: #F1F2EB;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    width: 100%;
    height: 10vh;
    background-color: #003C49;
    font-family: 'Montserrat-Alternates';
    font-weight: bold;
    color: #F1F2EB;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}